@import url('/assets/fonts/satoshi_font/css/satoshi.css');

body {
  margin: 0;
  font-family: 'Jersey 10', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

